<h2>Password Generator</h2>

<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div>
    <label>Enter Length</label>
    <input
      id="length"
      name="length"
      class="form-control"
      [(ngModel)]="generatePassword.length"
      required
    />
  </div>

  <div>
    <label>Use Letters</label>
    <input
      type="checkbox"
      id="useLetters"
      name="useLetters"
      class="form-control"
      [(ngModel)]="generatePassword.useLetters"
    />
  </div>

  <div>
    <label>Use Numbers</label>
    <input
      type="checkbox"
      id="useNumbers"
      name="useNumbers"
      class="form-control"
      [(ngModel)]="generatePassword.useNumbers"
    />
  </div>

  <div>
    <label>Use Symbols</label>
    <input
      type="checkbox"
      id="useSymbols"
      name="useSymbols"
      class="form-control"
      [(ngModel)]="generatePassword.useSymbols"
    />
  </div>
  <div>
    {{ errorMessage }}
  </div>

  <div>
    <button mat-raised-button color="primary">Generate!</button>
  </div>
</form>

<div>
  <label>Your Password: </label>
  {{ generatePassword.password }}
</div>
